@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('../fonts/Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraboldItalic.eot');
    src: local('../fonts/Gilroy Extrabold Italic'), local('../fonts/Gilroy-ExtraboldItalic'),
        url('../fonts/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
        url('../fonts/Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('../fonts/Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('../fonts/Gilroy Black'), local('../fonts/Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Ligth';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('../fonts/Gilroy Light'), local('../fonts/Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('../fonts/Gilroy Semibold'), local('../fonts/Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('../fonts/Gilroy Medium'), local('../fonts/Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-MediumItalic.eot');
    src: local('../fonts/Gilroy Medium Italic'), local('../fonts/Gilroy-MediumItalic'),
        url('../fonts/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-MediumItalic.woff') format('woff'),
        url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BlackItalic.eot');
    src: local('../fonts/Gilroy Black Italic'), local('../fonts/Gilroy-BlackItalic'),
        url('../fonts/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BlackItalic.woff') format('woff'),
        url('../fonts/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('../fonts/Gilroy-UltraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: local('../fonts/Gilroy Regular Italic'), local('../fonts/Gilroy-RegularItalic'),
        url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiboldItalic.eot');
    src: local('../fonts/Gilroy Semibold Italic'), local('../fonts/Gilroy-SemiboldItalic'),
        url('../fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiboldItalic.woff') format('woff'),
        url('../fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-HeavyItalic.eot');
    src: local('../fonts/Gilroy Heavy Italic'), local('../fonts/Gilroy-HeavyItalic'),
        url('../fonts/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-HeavyItalic.woff') format('woff'),
        url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('../fonts/Gilroy Extrabold'), local('../fonts/Gilroy-Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-BoldItalic.eot');
    src: local('../fonts/Gilroy Bold Italic'), local('../fonts/Gilroy-BoldItalic'),
        url('../fonts/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-BoldItalic.woff') format('woff'),
        url('../fonts/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLightItalic.eot');
    src: local('../fonts/Gilroy UltraLight Italic'), local('../fonts/Gilroy-UltraLightItalic'),
        url('../fonts/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: local('../fonts/Gilroy Light Italic'), local('../fonts/Gilroy-LightItalic'),
        url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-LightItalic.woff') format('woff'),
        url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: local('../fonts/Gilroy Heavy'), local('../fonts/Gilroy-Heavy'),
        url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Thin';
    src: url('../fonts/Gilroy-Thin.eot');
    src: local('../fonts/Gilroy Thin'), local('../fonts/Gilroy-Thin'),
        url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff2') format('woff2'),
        url('../fonts/Gilroy-Thin.woff') format('woff'),
        url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ThinItalic.eot');
    src: local('../fonts/Gilroy Thin Italic'), local('../fonts/Gilroy-ThinItalic'),
        url('../fonts/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-ThinItalic.woff') format('woff'),
        url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}


a {
    /* font-family: Gilroy-UltraLight !important; */
    text-decoration: none;
} 

body {
    background-color: #111;    
}

.navbar-wrapper a {
	text-decoration: none;
    font-size: 22px;
    color: #fff;
    font-family: Gilroy-Medium;

}
.navbar-wrapper img {
    margin-right: 3%;
}
.navbar-nav .nav-link {
    font-family: Gilroy-Regular;
    font-size: 16px;
    width: auto;
    text-align: left;
    cursor: pointer;
    margin-right: 50px;
	white-space: nowrap !important;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
	color: #FFEC00;
}
.navbar .language-btn {
    font-family: Gilroy-Regular;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.15);
	border: none;
    border-radius: 20px;
	margin-top: 2px;
	color: #FFEC00;
	width: 120px;
    height: 38px;
    padding-left: 10px !important;
    text-align: center;
}
  
  /* The container <div> - needed to position the dropdown content */
  .language-btn {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 120px !important;
    padding-bottom: 10px;
    /* height: 38px !important; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

.lang-btn-borders {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
  .dropdown-content a {
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding-left: 28px;
    padding-top: 6px;
    text-decoration: none;
    display: block;
  }
  .rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 5px;
  } 
  .dropdown-content a:hover {color: #FFEC00}
  
  .show {display:block;}

.navbar .language-btn:hover {
    color: #FFF57B;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.navbar .dropdown-menu a {
	text-decoration: none;
    font-family: Gilroy-Regular;
    font-size: 16px;
	color: #ffffff;
}


.navbar-nav a.current {
    color: #FFEC00;	
}
.navbar {
	background-color: #111 !important;
	
}
.navbar-brand {
	margin-right: 0px;
	font-size: 1.8em;
	width: 40%;
}
.navbar-brand:hover {
	color: white;
}

header .mobile-nav {
    display: none;
} 
header .slidenav-menu {
    display: none;
}
.slidenav-head {
    display: none;
}
.main-block {
    background-color: #111;
    height: 720px;
    z-index: 1;
}
.main-block .main-img-mobile {
    display: none;
    width: 220px;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 110px;
}
.main-block svg{
    position: absolute;
    /* height: 913.52px; */
    right: 818px;
    top: 97.03px;
}
.main-block .text-block {
    padding-left: 2%;
    z-index: 3;
}
.main-block .text-block h1 {
    font-family: Gilroy-Medium;
    font-size: 62px;
    line-height: 73px;
    color: #fff;
    display: table-caption;
    margin-top: 40%;
}
.yellow-button {
    position: relative;
    background-color: #FFEC00;
    border: 1px solid #FFEC00;
    color: #111;
    font-size: 16px;
    font-family: Gilroy-SemiBold !important;
    letter-spacing: 0.08em;
    width: 284px;
    height: 70px;
    border-radius: 500px;
    margin-top: 10%;
    text-transform: uppercase;
}
.yellow-button:hover {
    background-color: #FFF57B;
    border: 1px solid #FFF57B;
}
.yellow-button:active {
    background-color: #FFF57B;
    border: 1px solid #FFF57B;
}
.about-us {
    background-color: #fff;
    padding: 8% 5% 8% 5%;
    z-index: 3;
}
.about-us h2 {
    font-size: 62px;
    line-height: 73px;
    font-family: Gilroy-Medium !important;
    padding-bottom: 6%;
}
.about-us .text-block {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 28px;
}
.about-us .text-block button {
    background-color: #fff;
    border: 2px solid #111;
    color: #111;
    font-size: 16px;
    font-family: Gilroy-Bold;
    letter-spacing: 0.08em;    
    width: 284px;
    height: 70px;
    border-radius: 500px;
    margin-top: 38px;
    text-transform: uppercase;
    text-align: center;
}
.about-us .text-block button:hover {
    background-color: #111;
    border: 2px solid #fff;
    color: #fff;
}
.about-us .text-block button:active {
    background-color: #111;
    border: 2px solid #fff;
    color: #fff;
}
.why-us {
    background-color: #fff;
    padding: 2% 5% 5% 5%;
}
.why-us h2 {
    font-size: 62px;
    line-height: 73px;
    font-family: Gilroy-Medium !important;
    padding-bottom: 6%;
}

.why-us .text-card {
    width: 100%;
    background-color: #fff;
    
}
.why-us .card-content {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 28px;
    padding-top: 26px;
}
.why-us .card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.why-us .card-head p{
    font-family: Gilroy-Bold;
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 28px;
    white-space: nowrap;
    width: auto;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.why-us .row {
    padding-bottom: 5%;
}
.our-services {
    background-color: #fff;
    padding: 2% 5% 3% 5%;
}
.our-services h2 {
    font-size: 62px;
    line-height: 73px;
    font-family: Gilroy-Medium !important;
    padding-bottom: 6%;
}

.our-services .text-card {
    width: 100%;
    background-color: #fff;
    
}
.our-services .card-content {
    font-family: Gilroy-Medium;
    font-size: 24px;
    line-height: 28px;
    padding-top: 26px;
    text-align: left;
}

.our-services .card-head p{
    font-family: Gilroy-Bold;
    -webkit-appearance: none;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
    letter-spacing: 0.08em;
    /* padding-right: 35px; */
}

.our-services .card-head {
    /* padding-right: 35px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle-line {
    border-bottom: 2px solid #111;
    width: 100%;
    margin-left: 35px;
    height: 1px;
    display: inline;
    padding-top: 15px;
}
.our-services .row {
    padding-bottom: 5%;
}

.contact-us {
    background-color: #111;
    /* height: 720px; */
    z-index: 1;
    padding: 10% 5% 10% 5%;
}
.contact-us svg{
    position: absolute;
    /* height: 913.52px; */
    /* right: 818px; */
    /* top: 97.03px;s */
}
.contact-us h2 {
    font-family: Gilroy-Medium;
    font-size: 62px;
    line-height: 73px;
    color: #fff;
}
.contact-us .input-holder {
    padding-top: 5%;
}
.contact-us input {
    font-family: Gilroy-Medium;
    font-size: 16px;
    width: 100%;
    color: #fff;
    background-color: #111;
    border-bottom: 2px solid #fff;
    border-top: 0;
    height: 30px;
    border-left: 0;
    border-right: 0;
    /* padding-bottom: 5px; */
    /* padding-left: 7px; */
    margin-bottom: 20px;
}
.contact-us textarea {
    background-color: #111;
    font-family: Gilroy-Medium;
    font-size: 16px;
    width: 100%;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-top: 0;
    height: 45px;
    border-left: 0;
    border-right: 0;
}

.contact-us textarea:focus {
    background-color: #111 !important;
    font-family: Gilroy-Medium !important;
    font-size: 16px !important;
    width: 100% !important;
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.contact-us .input-inner-message input::placeholder {
    font-family: Gilroy-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.contact-us input::placeholder, textarea::placeholder {
    font-family: Gilroy-Regular;
    font-size: 16px;
    /* padding-left: 7px; */
    letter-spacing: 0.08em;
    color: #fff;
    text-transform: uppercase;
}
.contact-us .form-control {
    color: #fff !important;
    border-radius: 0 !important;
    padding-left: 2px  !important;
}
.contact-us .form-control:focus {
    border-radius: 0 !important;
    box-shadow: inset 0 -1px 0 #ddd;
}
.contact-us .form-floating>.form-control, .form-floating>.form-select {
    /* height: calc(3.2rem + 2px) !important; */
    height: 55px;
}
/* .contact-us .form-floating>textarea.form-control, .form-floating>textarea.form-select {
    height: calc(3.5rem + 2px) !important;
} */
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1 !important;
}
/* .form-floating>textarea.form-control:focus~label, .form-floating>textarea.form-control:not(:placeholder-shown)~label, .form-floating>textarea.form-select~label {
    opacity: 0 !important;
} */
.contact-us label {
    font-family: Gilroy-Regular;
    font-size: 14px;
    padding-left: 0px !important;
    padding-bottom: 5px;
    letter-spacing: 0.08em;
    color: #fff !important;
    text-transform: uppercase;
}

.contact-us select {
    -webkit-appearance: none;
    font-family: Gilroy-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    background-color: #111;
    border-bottom: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 15px;
    padding-left: 2px;
    margin-bottom: 40px;

}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.contact-us option {
    font-family: Gilroy-Regular;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.contact-us .input-inner-message input {
    /* height: 120px; */
    /* padding-top: 15%; */
}
.contact-us .yellow-button {
    position: relative;
    background-color: #FFEC00;
    border: 1px solid #FFEC00;
    color: #111;
    font-size: 16px;
    font-family: Gilroy-SemiBold !important;
    letter-spacing: 0.08em;
    width: 351px;
    height: 60px;
    border-radius: 500px;
    text-transform: uppercase;
    margin-top: 5%;
    z-index: 999;
}
.contact-us .yellow-button:hover { 
    background-color: #FFF57B;
    border: 1px solid #FFF57B;
}
.contact-us .yellow-button:active { 
    background-color: #FFF57B;
    border: 1px solid #FFF57B;
}
footer {
    background: #111;
    padding: 1% 5% 2% 5%;
}
footer p {
    font-family: Gilroy-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 19px;
    position: relative;
    z-index: 999 !important;
}
footer a {
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 19px;
    display: table;
    /* padding-top: 10px; */
    padding-bottom: 12px;
    position: relative;
    z-index: 999 !important;
}
footer a:hover {
    color: #FFEC00;
}
.mobile_img_footer {
    display: none;
}
textarea:focus, select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="name"]:focus,
input[type="location"]:focus,
input[type="interest"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    background-color: #111;
    border-bottom: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  outline: 0 none;
}